* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    background: url('https://www.transparenttextures.com/patterns/tex2res4.png'); 
    line-height: 1.6;
}

.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b3832; 
    padding: 20px;
    border: 5px solid #382d27; 
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin: 20px;
    background: url('https://www.transparenttextures.com/patterns/leather.png'); 
    flex-wrap: wrap;
    overflow: hidden; 
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #4b3832;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.avatar {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.profile-info {
    text-align: center;
    margin-left: 20px;
    flex-grow: 1;
    max-width: 100%; 
}

.profile-info h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #6f4e37;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

.profile-info p {
    font-size: 1.2rem;
    color: #6f4e37;
    font-style: italic;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

.navbar {
    background-color: #382d27;
    padding: 12px 0;
    text-align: center;
    margin-bottom: 20px; 
    border-bottom: 1px solid #6f4e37; 
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
}

.navbar li {
    display: inline-block;
    position: relative;
    padding: 0 100px; 
}

.navbar li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 1px;
    background-color: #6f4e37; 
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.navbar a:hover {
    color: #e2a57f; 
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.about-me, .github, .skills {
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px dashed #6f4e37; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.about-me:hover, .github:hover, .skills:hover {
    box-shadow: 0 0 25px 10px rgba(104, 69, 50, 0.5);
}

.github-link {
    font-weight: bold;
    color: #9b9800;
    text-decoration: none;
}

.github-link:hover {
    color: #b82e00;
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #382d27;
}

p {
    font-size: 1rem;
    color: #6f4e37;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.disclaimer-text {
    font-size: 0.8rem; 
    color: #963232; 
    font-style: italic; 
    font-weight: bold; 
    text-align: center; 
    margin-top: 20px; 
    line-height: 1.5;
    letter-spacing: 0.5px;
}

footer {
    background-color: #382d27;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 1rem;
    border-top: 5px dashed #6f4e37; 
}


@media (max-width: 1000px) {
    .profile-header {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .avatar-container {
        width: 60px;
        height: 60px;
    }

    .avatar {
        font-size: 30px;
    }

    .profile-info h1 {
        font-size: 2rem;
    }

    .profile-info p {
        font-size: 1rem;
    }

    .navbar ul {
        flex-direction: column;
        align-items: stretch; 
    }

    .navbar li {
        padding: 10px 0;
        border-bottom: 1px solid #6f4e3741; 
    }

    .navbar li:last-child {
        border-bottom: none; 
    }

    .navbar li:not(:last-child)::after {
        display: none; 
    }
}

@media (max-width: 800px) {
    .profile-header {
        padding: 10px;
    }

    .avatar-container {
        width: 50px;
        height: 50px;
    }

    .avatar {
        font-size: 25px;
    }

    .profile-info h1 {
        font-size: 1.8rem;
    }

    .profile-info p {
        font-size: 0.9rem;
    }

    .container {
        padding: 0 10px;
    }

    .about-me, .github, .skills {
        padding: 15px;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    .navbar ul {
        flex-direction: column;
        align-items: stretch;
    }

    .navbar li {
        padding: 8px 0;
    }
}

@media (max-width: 600px) {
    .profile-header {
        padding: 5px;
    }

    .profile-info h1, .profile-info p {
        display: none;
    }

    .avatar-container {
        width: 40px;
        height: 40px;
    }

    .avatar {
        font-size: 20px;
    }

    .navbar ul {
        flex-direction: column;
        align-items: stretch; 
        width: 100%; 
    }

    .navbar li {
        padding: 3px 0; 
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid #6f4e3751; 
    }

    .navbar li:last-child {
        border-bottom: none; 
    }

    .navbar a {
        font-size: 1rem;
        color: white;
        display: block;
        text-decoration: none;
        padding: 1px 0;
        width: 100%; 
        box-sizing: border-box; 
    }

    .container {
        padding: 0 5px;
    }

    .about-me, .github, .skills {
        padding: 10px;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.8rem;
    }
}